@(message: String, dataList:List[model.Data])

@import java.util.List;
@main("Events") {

<div id="wrapper">

	@nav()

	<div id="page-wrapper">

		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						Dashboard <small>Statistics Overview</small>
					</h1>
				</div>
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="fa fa-line-chart fa-fw"></i> Valeurs brutes</h3>
						</div>
						<div class="panel-body">
							<div id="myfirstchart"></div>
							<script>
								new Morris.Line({
								// ID of the element in which to draw the chart.
								element: 'myfirstchart',
								// Chart data records -- each entry in this array corresponds to a point on
								// the chart.
								data: [
								@for(data <- dataList) {
									{ time: '@utils.TimestampUtils.timestampToString(data.getTimestamp)', value: @data.getValue},
								}
								],
								// The name of the data record attribute that contains x-values.
								xkey: 'time',
								// A list of names of data record attributes that contain y-values.
								ykeys: ['value'],
								ymin: 'auto', ymax: 'auto',
								//goals: [190.0, 170.0],
								// Labels for the ykeys -- will be displayed when you hover over the
								// chart.
                                labels: ['Lumière 153.111'],
								resize: true
								});
							</script>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

}
