logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

gateway/EnoPush/bin/

doc/API/DOC-API.aux
doc/API/DOC-API.dvi
doc/API/DOC-API.hst
doc/API/DOC-API.log
doc/API/DOC-API.out
doc/API/DOC-API.ver
