@(form: Form[model.Event], sensors: List[model.Sensor])

@import java.util.List;
@main("Créer un évènement") {

<div id="wrapper">

        @nav()

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Administration <small>Créer un évènement</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Créer un évènement</h3>
                            </div>
                            <div class="panel-body">
                            @helper.form(action = routes.EventController.save) {
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input class="form-control" type="text" name="name" placeholder="Name" value="@form("name").value">
                                </div>
                                <div class="form-group">
                                    <label>Expression</label>
                                    <input id="expression" class="form-control" type="text" name="expression" placeholder="Description" value="@form("expression").value">
                                    <p id="basicEvents">
                                        <div class="btn-group associatedBasicEvent">
                                            <a type="button" class="btn btn-info btn-sm" title="(">(</a>
                                            <a type="button" class="btn btn-info btn-sm" title=")">)</a>
                                            <a type="button" class="btn btn-primary btn-sm" title="&&">ET</a>
                                            <a type="button" class="btn btn-primary btn-sm" title="||">OU</a>
                                            @for(sensor <- sensors) {
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        @sensor.getTypeAsString (@sensor.address) <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                    @for(associatedBasicEvent <- sensor.getAssociatedBasicEvents) {
                                                        <li><a href="#" title="@associatedBasicEvent.id">@associatedBasicEvent.name (@associatedBasicEvent.detectionMethod.getValueAsString @sensor.unit)</a></li>
                                                    }
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    </p>
                                    @if(form.hasGlobalErrors) {
                                        <div class="alert alert-danger" role="alert">
                                            <span class="sr-only">Error:</span>
                                            @form.globalError.message
                                        </div>
                                    }
                                </div>
                                <div>
                                    <button class="btn btn-primary" type="submit">Créer</button>
                                    <a href="@routes.EventController.events()" class="btn btn-default">Retour</a>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <script>
                // $('.associatedBasicEvent').find('a').css( "color", "red" );
                $('#basicEvents').find('a').bind('click', function(event) {
                    $('#expression').val($('#expression').val() + ' ' + event.target.title + ' ');
                });
                $('.associatedBasicEvent').find('a').bind('click', function(event) {
                    console.log("check!");
                    $('#expression').val($('#expression').val() + ' ' + event.target.title + ' ');
                });
                </script>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

}
