@(events: List[model.Event])

@import java.util.List;
@import helper._;

@main("Évènements") {

<div id="wrapper">

        @nav()

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Administration <small>Évènements</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Liste des évènements</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <a class="btn btn-primary success" id="add" href="@routes.EventController.create()">Ajouter un évènement</a>
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Nom</th>
                                                <th>Expression</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for(event <- events) {
                                                <tr>
                                                    <td><i class="fa fa-exclamation-triangle"></i></td>
                                                    <td>@event.name</td>
                                                    <td>@event.expression</td>
                                                    <td>
                                                        @form(routes.EventController.edit(event.id)) {
                                                            <input class="btn btn-primary" type="submit" value="Éditer">
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

}
