@(message: String)

@main("Create an event") {

<script>
$(document).ready(function(){
    $('.multi-field-wrapper').each(function() {
        var $wrapper = $('.multi-fields', this);
        $(".add-field", $(this)).click(function(e) {
            $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper);
        });
        $('.multi-field .remove-field', $wrapper).click(function() {
            if ($('.multi-field', $wrapper).length > 1)
                $(this).parent('.multi-field').remove();
        });
    });
});
</script>

<div id="wrapper">

        @nav()

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Administration <small>Créer un évènement</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">

                        <div class="multi-field-wrapper">
                            <div class="multi-fields">
                                <div class="multi-field">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                BasicEvent
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>Nom du basicEvent</label>
                                                <input class="form-control">
                                                <p class="help-block">Rentrer un nom pour vous souvenir de ce que ce basicEvent fait.</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Selects</label>
                                                <select class="form-control">
                                                    <option>LIGHT</option>
                                                    <option>TEMP</option>
                                                    <option>HUMIDITY</option>
                                                    <option>PRESENCE</option>
                                                    <option>DOOR</option>
                                                    <option>POWER</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button type="reset" class="btn btn-default">Reset</button>
                                        </form>
                                    </div>
                                    <!-- /.col-lg-4 (nested) -->
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                        <button type="button" class="btn btn-warning btn-circle remove-field"><i class="fa fa-times"></i></button>

                                </div>
                            </div>
                            <button type="button" class="btn btn-outline btn-primary btn-lg btn-block add-field">Ajouter un basicEvent</button>
                        </div>

                        <button type="button" class="btn btn-primary btn-lg btn-block">Créer l'évènement</button>

                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

}
