@(message: String, moteToConfNumber: Integer, alertOccurrences: List[model.AlertOccurrence],
        newAlert: Integer, basicCount: Integer, eventCount: Integer, latestData: List[model.Data],
        latestBasic: List[model.BasicEventOccurrence], latestEvent: List[model.EventOccurrence])

@import java.util.List;
    @import java.math.BigInteger; var i = 1

@main("Info-Autnomie") {

	<div id="wrapper">

		@nav()

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Tableau de bord</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bug fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@moteToConfNumber</div>
                                    @if(moteToConfNumber <= 1) {
                                        <div>Nouveau capteur à configurer</div>
                                    } else {
                                        <div>Nouveaux capteurs à configurer</div>
                                    }
                                </div>
                            </div>
						</div>
						<a href="@routes.SensorController.sensors()">
							<div class="panel-footer">
								<span class="pull-left">Voir les détails</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-green">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-heartbeat fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">@basicCount</div>
									<div>@if(basicCount > 1) {
                                        BasicEvents
                                    } else {
                                        BasicEvent
                                    }
                                    ces dernières 24 heures</div>
								</div>
							</div>
						</div>
                        <a href="@routes.BasicEventController.timeline()">
                            <div class="panel-footer">
								<span class="pull-left">Voir les détails</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-yellow">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-heartbeat fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">@eventCount</div>
                                    <div>@if(eventCount > 1) {
                                        Events
                                    } else {
                                        Event
                                    }
                                    ces dernières 24 heures</div>
								</div>
							</div>
						</div>
                        <a href="@routes.EventController.timeline()">
							<div class="panel-footer">
								<span class="pull-left">Voir les détails</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-red">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-bell-o fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">@newAlert</div>
									<div>@if(newAlert>1) {
                                        Nouvelles alertes
                                    } else {
                                        Nouvelle alerte
                                    }
                                    </div>
								</div>
							</div>
						</div>
                        <a href="@routes.AlertController.timeline()">
                            <div class="panel-footer">
                                <span class="pull-left">Voir les détails</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
					</div>
				</div>
                <!-- /.row -->
                @Locale.setDefault(Locale.US)
				<div class="col-lg-6">

					<!-- /.panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-database fa-fw"></i> Dernières données brutes
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped dataTable">
                                    <thead>
                                        <tr role="row">
                                            <th>Timestamp</th>
                                            <th>Label</th>
                                            <th>Valeur</th>
                                            <th>Mote</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @for(data <- latestData) {
                                        <tr>
                                            <td>@utils.TimestampUtils.formatToString(data.getTimestamp, "dd-MM-yyyy HH:mm:ss ")</td>
                                            <td>@data.getLabel</td>
                                            <td>
                                            @if(data.getLabel.equals("presence")) {
                                                @if(data.getValue == 0) {
                                                    absence de mouvement
                                                } else {
                                                    mouvement
                                                }
                                            } else {
                                                @if(data.getLabel.equals("door")) {
                                                    @if(data.getValue == 0) {
                                                        ouvert
                                                    } else {
                                                        fermé
                                                    }
                                                } else {
                                                    @String.format("%.2f", new Double(data.getValue))
                                                }
                                            }
                                            </td>
                                            <td>@data.getMote</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->

                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-sitemap fa-fw"></i> Derniers évènements
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                            @for(event <- latestEvent) {
                                @if(i % 2 == 0) {
                                    <li>
                                    } else {
                                    <li class="timeline-inverted">
                                    }
                                <div class="timeline-badge @event.getEvent.getColor"><i class="fa @event.getEvent.getIcon "></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">@event.getEvent.getName</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> @event.getDate </small>
                                    </div>
                                </div>
                            </li>
                                @{i = i + 1}
                            }
                            </ul>
                            <!-- /.alert -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

				</div>
                <!-- /.col-lg-6 -->

				<!-- /.col-lg-6 -->
                <div class="col-lg-6">

                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-sitemap fa-fw"></i> Derniers BasicEvents
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                            @for(basic <- latestBasic) {
                                @if(i % 2 == 0) {
                                    <li>
                                    } else {
                                    <li class="timeline-inverted">
                                    }
                                <div class="timeline-badge @basic.getBasicEvent.getColor"><i class="fa @basic.getBasicEvent.getIcon"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">@basic.getBasicEvent.getName</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> @basic.getDate </small>
                                    </div>
                                    <div class="timeline-body">
                                    @if(basic.getBasicEvent.getSensor.getType() == model.SensorType.DOOR) {
                                        <p>De
                                            @if(basic.fromValue == 0) {
                                                ouvert
                                            } else {
                                                fermé
                                            }
                                            à
                                            @if(basic.toValue == 0) {
                                                ouvert
                                            } else {
                                                fermé
                                        }
                                        </p>
                                    } else {
                                        @if(basic.getBasicEvent.getSensor.getType() == model.SensorType.PRESENCE) {
                                            <p>De
                                                @if(basic.fromValue == 0) {
                                                    absence de mouvement
                                                } else {
                                                    mouvement
                                                }
                                                à
                                                @if(basic.toValue == 0) {
                                                    absence de mouvement
                                                } else {
                                                    mouvement
                                            }
                                            </p>
                                        } else {
                                            <p>De @basic.fromValue à @basic.toValue @basic.getBasicEvent.getSensor.getUnit</p>
                                        }
                                    }

                                    </div>
                                </div>
                            </li>
                                @{
                                    i = i + 1
                                }
                            }
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell-o fa-fw"></i> Dernières alertes
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                            @for(alert <- alertOccurrences) {
                                @if(i % 2 == 0) {
                                    <li>
                                    } else {
                                    <li class="timeline-inverted">
                                    }
                                <div class="timeline-badge @alert.getAlert.getColor"><i class="fa @alert.getAlert.getIcon "></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">@alert.getAlert.getName</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> @alert.getDate </small>
                                    </div>
                                    <div class="timeline-body">
                                        <a href="@routes.AlertController.toggleSeen(alert.getId)"><i class="fa @if(alert.isSeen) {fa-eye-slash} else {fa-eye}"></i> Marquée comme @if(alert.isSeen) { non } lue </a>
                                    </div>
                                </div>
                            </li>
                                @{i = i + 1}
                            }
                            </ul>
                            <!-- /.timeline -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-6 -->

            </div>
            <!-- /.row -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

}
