@import model.Event

@(message: String)

@import helper._
@import java.math.BigInteger; var i=1;

@main("Raw data") {

<div id="wrapper">

        @nav()

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard <div id="#socket-input"></div>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Live</h3>
                            </div>
                            <div class="panel-body"> <div id="socket-messages"></div>
                                <div id="myfirstchart" style="height: 250px;"></div>
                                <script>
                                var graph_data = [];

                                var graph = new Morris.Line({
                                // ID of the element in which to draw the chart.
                                element: 'myfirstchart',
                                // Chart data records -- each entry in this array corresponds to a point on
                                // the chart.
                                data: graph_data,
                                // The name of the data record attribute that contains x-values.
                                xkey: 'time',
                                // A list of names of data record attributes that contain y-values.
                                ykeys: ['value'],
                                ymax : 250, ymin : 150,
                                // Labels for the ykeys -- will be displayed when you hover over the
                                // chart.
                                labels: ['Value']
                                });

                                $(function(){

                                // get websocket class, firefox has a different way to get it
                                var WS = window['MozWebSocket'] ? window['MozWebSocket'] : WebSocket;

                                // open pewpew with websocket
                                var socket = new WS('ws://iotlab.telecomnancy.eu/liveStream/0');

                                var writeMessages = function(event){
                                    console.log(event.data);
                                    var obj = JSON.parse(event.data);
                                    graph_data.push({
                                        time: obj.timestamp,
                                        value: obj.light1
                                    });


                                graph.setData(graph_data);
                                }

                                socket.onmessage = writeMessages;

                                });

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

}
